In [2]:
#Import all the functions from the files
from poke_cards_funcs_v4 import *
from poke_product_funcs_v1 import *

# **<font color='green'>Card Functions Example</font>**

In [3]:
###ONLY NEED TO RUN THIS ONCE IF YOU KEEP USING SAME CSV FILE
new_pokemon_df('example_pokemon_cards')

------

For the first example I add Maractus #160 from Journey Together. The url is:
 -  https://www.pricecharting.com/game/pokemon-journey-together/maractus-160

The second card I add is Blaziken #192 from Destined Rivals. The url is:
- https://www.pricecharting.com/game/pokemon-destined-rivals/blaziken-192

The third card I add is Blaziken #192 from Destined Rivals. The url is:
- hhttps://www.pricecharting.com/game/pokemon-shrouded-fable/kingdra-ex-stamped-12

------

In [9]:
df_pokemon_cards = update_poke_df('example_pokemon_cards.csv')

Enter URL or Card Name -  https://www.pricecharting.com/game/pokemon-shrouded-fable/kingdra-ex-stamped-12

Entering add_card function:

Kingdra EX [Stamped] #12 from Pokemon Shrouded Fable is not present in the 'Card_Names' column. Adding card:
Couldn't convert PSA 10 price to float.
Card Name: Kingdra EX [Stamped] #12
Set Name: Pokemon Shrouded Fable
Url: https://www.pricecharting.com/game/pokemon-shrouded-fable/kingdra-ex-stamped-12
Ungraded Price: $2.05
PSA 10 Price: $nan

In [10]:
df_pokemon_cards

,Card_Name,Set_Name,url,ungraded_price,PSA10_price,grade_yn
0,Maractus #160,Pokemon Journey Together,https://www.pricecharting.com/game/pokemon-jou...,2.93,39.0,No
1,Blaziken #192,Pokemon Destined Rivals,https://www.pricecharting.com/game/pokemon-des...,10.02,130.0,Yes
2,Kingdra EX [Stamped] #12,Pokemon Shrouded Fable,https://www.pricecharting.com/game/pokemon-shr...,2.05,NaN,No

-----

Next I use the multi-update function. Nothing is needed to do except run the line.

------

In [11]:
df_pokemon_cards = multi_update_poke_df('example_pokemon_cards.csv')

Card Name: Maractus #160
Url: https://www.pricecharting.com/game/pokemon-journey-together/maractus-160

Card Name: Blaziken #192
Url: https://www.pricecharting.com/game/pokemon-destined-rivals/blaziken-192

Couldn't convert PSA 10 price to float.
Card Name: Kingdra EX [Stamped] #12
Url: https://www.pricecharting.com/game/pokemon-shrouded-fable/kingdra-ex-stamped-12

-----

Then I remove the Kingra card. I simply copy and paste the name from the `Card_Name` column (Kingdra EX [Stamped] #12). However you could have also put the number 2, the index.

-----

In [12]:
df_pokemon_cards = remove_card('example_pokemon_cards.csv')

Enter the card name or row index to delete:  Kingdra EX [Stamped] #12

Dropping card 'Kingdra EX [Stamped] #12' at index 2.
Saving csv file.

In [13]:
df_pokemon_cards

,Card_Name,Set_Name,url,ungraded_price,PSA10_price,grade_yn
0,Maractus #160,Pokemon Journey Together,https://www.pricecharting.com/game/pokemon-jou...,2.93,39.0,No
1,Blaziken #192,Pokemon Destined Rivals,https://www.pricecharting.com/game/pokemon-des...,10.02,130.0,Yes

# **<font color='blue'>Product Functions Example</font>**

In [14]:
###ONLY NEED TO RUN THIS ONCE IF YOU KEEP USING SAME CSV FILE
new_pokemon_products_df('example_inventory_pokemon')

-----

For the first example I add is a Phantasmal Flames Pokemon Center ETB. The url is:
 -  https://www.pricecharting.com/game/pokemon-phantasmal-flames/elite-trainer-box-pokemon-center

The second product I add is a 151 booster bundle. The url is:
- https://www.pricecharting.com/game/pokemon-scarlet-&-violet-151/booster-bundle

-----

In [17]:
inven_df = update_poke_prod_df('example_inventory_pokemon.csv')

Enter URL -  https://www.pricecharting.com/game/pokemon-scarlet-&-violet-151/booster-bundle

Entering add_product function:

Booster Bundle from Pokemon Scarlet & Violet 151 is not present in the 'Product_Name' column. Adding product:

What is the MSRP? -  26.94
How many do you own? -  2

Url: https://www.pricecharting.com/game/pokemon-scarlet-&-violet-151/booster-bundle
Market Price: 88.5
Quantity: 2

In [18]:
inven_df

,Product_Name,Set_Name,url,MSRP,market_price,quantity
0,Elite Trainer Box [Pokemon Center],Pokemon Phantasmal Flames,https://www.pricecharting.com/game/pokemon-pha...,59.99,188.52,10
1,Booster Bundle,Pokemon Scarlet & Violet 151,https://www.pricecharting.com/game/pokemon-sca...,26.94,88.50,2

-----

Next I use the multi-update function. Nothing is needed to do except run the line.

----

In [19]:
inven_df = multi_update_price_poke_product_df('example_inventory_pokemon.csv')

Url: https://www.pricecharting.com/game/pokemon-phantasmal-flames/elite-trainer-box-pokemon-center
Market Price: 188.52

Url: https://www.pricecharting.com/game/pokemon-scarlet-&-violet-151/booster-bundle
Market Price: 88.5

------

Next I update how many Phantasmal Flames ETBs I have. I changed it to 5 now instead of 10.

----

In [20]:
inven_df = update_quant_prod('example_inventory_pokemon.csv')

Enter row index to update quantity:  0

Updating product: Elite Trainer Box [Pokemon Center] from Pokemon Phantasmal Flames

How many do you own now? -  5

Saving csv file.

In [21]:
inven_df

,Product_Name,Set_Name,url,MSRP,market_price,quantity
0,Elite Trainer Box [Pokemon Center],Pokemon Phantasmal Flames,https://www.pricecharting.com/game/pokemon-pha...,59.99,188.52,5
1,Booster Bundle,Pokemon Scarlet & Violet 151,https://www.pricecharting.com/game/pokemon-sca...,26.94,88.50,2